h3{
    text-align: center;

}

#Whey1{
   padding: auto;
margin-left: 25%;
}

#Whey2{
   padding: auto;
  
}

#whay3{
    padding: auto;
   
}

#wheyrepo1{
    padding: auto;
    margin-left: 25%;
}

#Wheyrepo2{
padding: 0%auto;

}

#wheyrepo3{
    padding: auto;
 
}
